name: Test

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        description: "Node version on which to run the tests"
        type: string

    secrets:
      turbo_token:
        required: false
        description: Vercel access token for distributed Turborepo caching
      turbo_team:
        required: false
        description: Slug of the remote cache Vercel team

env:
  NODE_VERSION: ${{ inputs.node-version }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ${{ env.NODE_VERSION == null && '.node-version' || '' }}
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
        env:
          TURBO_TOKEN: ${{ secrets.turbo_token }}
          TURBO_TEAM: ${{ secrets.turbo_team }}

      - name: Test
        run: pnpm test
        env:
          TURBO_TOKEN: ${{ secrets.turbo_token }}
          TURBO_TEAM: ${{ secrets.turbo_team }}
